<div local-class="root">
  <div class="media">
    <div local-class="card">

      {{#if this.lastVisitOn}}
        <div local-class="lastVisit">
          Last usage on: {{this.lastVisitOn}}
        </div>
      {{/if}}
      

      <div local-class="row gap">
        
        <JubileeTextField 
          class={{local-class "item1"}}
          @label="Default"
          @label2="(pixels)"
          @text={{this.defaultPx}}
          @onClickSelect={{true}}
        />
        <JubileeTextField 
          class={{local-class "item2"}}
          @label="Pixels"
          @text={{this.px}}
          @onClickSelect={{true}}
        />
      </div>

      <div local-class="row">
        <JubileeTextField 
          class={{local-class "item"}}
          @label="Result in rem"
          @text={{this.rem}}
          @onClickSelect={{true}}
        />
      </div>

    </div>
  </div>
</div>